[Desktop Entry]
Name=Discord PTB
StartupWMClass=discord-ptb
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Exec=fish -c "exec /usr/bin/discord-ptb --proxy-server=$ALL_PROXY"
Icon=discord-ptb
Type=Application
Categories=Network;InstantMessaging;
Path=/usr/bin
Path=/usr/bin
